spring.datasource.url=jdbc:postgresql://localhost:5432/Covid_Loveit
spring.datasource.username= {Your Database name}
spring.datasource.password= {Your Database Password}
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL92Dialect
spring.jpa.properties.hibernate.format_sql=true

# HMAC256 algorithm's signature secret
auth0_secret_key={secret key}